@page "/connect"
<!--Inject shared Httpclient, to avoid consuming a new socket per client-->
@inject HttpClient Http
<!--Inject interface to use 3rd party local storage NuGet package-->
@inject ILocalStorageService LocalStorage;
<!--Inject StorageCrate shared object (for state management)-->
@inject StorageCrate StorageCrate;
@namespace WarhornManager

<PageTitle>Connect</PageTitle>

<h1>Connect to Warhorn</h1>
Please log into Warhorn to access features:

@if (!connectionStatus)
{
    <button class="btn btn-primary" @onclick="InitiateLogonAsync" id="connectBUTTON">Connect</button>
}else{
    <button class="btn btn-primary" @onclick="InitiateLogoffAsync" id="disconnectBUTTON">Disconnect</button>
}

<table>
    <tr>
        <td>Status:</td>
        <td id="statusDisplayTD" style="background-color:@ConnectionStatusColour;">@ConnectionStatusText</td>
    </tr>
</table>


@code {
    private string localStorageKey = "storageCrateData";
    private bool connectionStatus = false;

    //Run when built, to fetch state data from local storage
    protected override async Task OnInitializedAsync()
    {
        await StorageCrate.LoadAsync(LocalStorage, localStorageKey);
    }

    protected async Task UpdateLocalData()
    {
        await StorageCrate.SaveAsync(LocalStorage, localStorageKey);
    }

    #region "Manual logon"
    private void InitiateLogon()
    {
        try
        {
            //Request
            String requestUrl = "https://warhorn.net";
            Dictionary<string, string> postValues = new Dictionary<string, string>();
            postValues.Add("client_id", StorageCrate.ClientId);
            postValues.Add("client_secret", StorageCrate.AppToken);
            postValues.Add("grant_type", "client_credentials");
            HttpContent httpContent = new FormUrlEncodedContent(postValues);
            Task<HttpResponseMessage> responseTask = Http.PostAsync(requestUrl, httpContent);
            responseTask.Wait();
            if (responseTask.IsCompletedSuccessfully)
            {
                HttpResponseMessage responseMessage = responseTask.Result;
                Task<string> responseMessageTask = responseMessage.Content.ReadAsStringAsync();
                responseMessageTask.Wait();
                if (responseMessageTask.IsCompleted)
                {
                    string message = responseMessageTask.Result;
                    Console.WriteLine("Auth POST response: {0}", message);
                }
                else
                {
                    Console.WriteLine("Failed to retrieve message contents from Auth POST.");
                }
            }
            else
            {
                if (responseTask.Exception != null)
                {
                    Console.WriteLine("HTTP POST Auth request threw exception: {0}", responseTask.Exception.Message);
                }
                else
                {

                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Unhandled exception in Auth: {0}", ex.Message);
        }

        return;
    }

    private async void InitiateLogonAsync()
    {
        try
        {
            //Request
            String requestUrl = "https://warhorn.net/graphql";
            Dictionary<string, string> postValues = new Dictionary<string, string>();
            postValues.Add("client_id", StorageCrate.ClientId);
            postValues.Add("client_secret", StorageCrate.AppToken);
            postValues.Add("grant_type", "client_credentials");
            HttpContent httpContent = new FormUrlEncodedContent(postValues);
            HttpResponseMessage response = await Http.PostAsync(requestUrl, httpContent);
            if (response.IsSuccessStatusCode)
            {
                string message = response.Content.ToString() ?? "";
                Console.WriteLine("Auth POST response: {0}", message);
                SetConnectionStatus(true);
            }
            else
            {
                Console.WriteLine("HTTP POST Auth request threw exception: {0}", response.Content.ToString());
                SetConnectionStatus(false);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Unhandled exception in Auth: {0}", ex.Message);
            SetConnectionStatus(false);
        }

        return;
    }

    private void InitiateLogoffAsync()
    {
        SetConnectionStatus(false);
    }
    #endregion "Manual Logon"

    #region "OAuth2"
    //Authorize Service
    //We send Warhorn ClienID and Scope

    //Request Permission Dialog
    //Warhorn shows user login screen
    //User sends approval to Warhorn

    //Permission granted
    //Warhorn sends us authorizationCode

    //Get Access Token
    //We send warhorn AuthorizationCode with ClientId and ClientSecret (Our secret with Warhorhn)

    //Access Token
    //Warhorn validates, then sends us AccessToken

    //Use access token to perform actions on warhorn
    #endregion

    private void SetConnectionStatus(bool status)
    {
        connectionStatus = status;
        this.StateHasChanged();
    }
    private string ConnectionStatusText
    {
        get
        {
            if (connectionStatus)
            {
                return "CONNECTED";
            }
            return "DISCONNECTED";
        }
    }
    private string ConnectionStatusColour
    {
        get
        {
            if (connectionStatus)
            {
                return "LightGreen";
            }
            return "LightCoral";
        }
    }


    
}
