@page "/counter"
<!--Inject interface to use 3rd party local storage NuGet package-->
@inject ILocalStorageService LocalStorage;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private async void IncrementCount()
    {
        currentCount++;
        await LocalStorage.SetItemAsStringAsync("counterVal", currentCount.ToString());
    }

    private async Task GetCount()
    {
        int.TryParse(await LocalStorage.GetItemAsync<string>("counterVal"), out currentCount);
    }

    protected override async Task OnInitializedAsync()
    {
        await GetCount();
    }

}
