@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to the Warhorn Manager tool, built for the <em>Adelaide Community D&D</em> team.

<SurveyPrompt Title="How is Blazor working for you?" />
