@page "/oauth"
<!--Inject interface to use 3rd party local storage NuGet package-->
@inject ILocalStorageService LocalStorage;
<!--Inject StorageCrate shared object (for state management)-->
@inject StorageCrate StorageCrate;
<!--Inject Navigation Manager to allow redirect/navigation-->
@inject NavigationManager UriHelper

@namespace WarhornManager

<PageTitle>User Authentication</PageTitle>
<h1>Warhorn Authentication - OAuth 2.0</h1>
<p>Awaiting re-direct...</p>

@if ((AuthCode ?? "").Length > 0)
{
    <p>AuthCode: @AuthCode</p>
}

@code{
    [SupplyParameterFromQuery(Name = "code")]
    [Parameter]
    public string? AuthCode { get; set; }

    [SupplyParameterFromQuery(Name = "event")]
    [Parameter]
    public string? EventReferal { get; set; }

    private string localStorageKey = "storageCrateData";

    protected override async Task OnInitializedAsync()
    {
        await StorageCrate.LoadAsync(LocalStorage, localStorageKey);
        //Store authentication token if passed in URL
        StorageCrate.AccessToken = AuthCode ?? "";
        //Process event if passed in URL
        if (EventReferal != null)
        {
            StorageCrate.SetContext("event", EventReferal);
        }
        else
        {
            EventReferal = StorageCrate.RetrieveContext("event");
        }
        await StorageCrate.SaveAsync(LocalStorage, localStorageKey);
        UriHelper.NavigateTo("connect");
    }
    
}